<%- include('fragments/head.ejs')%>
<link rel="stylesheet" href="/css/inscription_connexion.css">
<script src="afficherMDP.js"></script>

</head>
<body>
    <div class="page">
<%- include('fragments/navigation.ejs')%>

<main>
<div class="container" id="container">
   <div class="form_container">
       <div class="form_connexion">
           <form action="/Administrateur/Reprographe" method="POST">
               <h1>Inscription Reprographe</h1>

               <% if(typeof(ErreurR)!='undefined') {%>
                    <h4 class="Erreur"><%=ErreurR %></h4>
                    <br>
                    <br>
                <%}%>

               <div class="info-bulle">
                   <label for="name"><strong>Nom du Reprographe</strong>
                       <input class="inputForm" type="text" name="name" id="name" required>
                   </label>
               </div>

               <ul id="Valid_name" style="display: none;">
                   <li id="length_name" class="invalid">doit contenir au moins 5 caractères</li>
                   <li id="majuscule_name" class="invalid">doit contenir au moins 1 majuscule</li>
                   <li id="minuscule_name" class="invalid">doit contenir au moins 1 minuscule</li>
                   <li id="chiffre_name" class="valid">Ne doit pas contenir de chiffre</li>
                   <li id="special_name" class="valid">Ne doit pas contenir de caractère spécial (%?*#!)</li>
               </ul>

               <br>

               <div class="info-bulle">
                   <label for="Prénom"><strong>Prénom du Reprographe</strong>
                       <input class="inputForm" type="text" name="Prénom" id="Prénom" required>
                   </label>
               </div>

               <ul id="Valid_Prénom" style="display: none;">
                   <li id="length_Prénom" class="invalid">doit contenir au moins 3 caractères</li>
                   <li id="majuscule_Prénom" class="invalid">doit contenir au moins 1 majuscule</li>
                   <li id="minuscule_Prénom" class="invalid">doit contenir au moins 1 minuscule</li>
                   <li id="chiffre_Prénom" class="valid">Ne doit pas contenir de chiffre</li>
                   <li id="special_Prénom" class="valid">Ne doit pas contenir de caractère spécial (%?*#!)</li>
               </ul>

               <br>

               <div class="champs-password">
                   <div class="info-bulle">
                       <label for='mdp'><strong>Mot de passe</strong>
                           <input id='mdp' type='password' name ='password' class='inputForm' required>
                        </label>
                   </div>

                   <div class="password-show" onclick="showPassword(this)" onkeydown="showPassword(this)" tabindex="0">
                       <img src="img/visible.png" alt="afficher le mot de passe">
                   </div>
                   <div class="password-hide" onclick="hidePassword(this)" onkeydown="hidePassword(this)" tabindex="0">
                       <img src="img/hidden.png" alt="cacher le mot de passe">
                   </div>
               </div>

               <ul id="Valid_mdp" style="display: none;">
                   <li id="length_mdp" class="invalid">doit contenir au moins 8 caractères</li>
                   <li id="majuscule_mdp" class="invalid">doit contenir au moins 1 majuscule</li>
                   <li id="minuscule_mdp" class="invalid">doit contenir au moins 1 minuscule</li>
                   <li id="chiffre_mdp" class="invalid">doit contenir au moins 1 chiffre</li>
                   <li id="special_mdp" class="invalid">doit contenir au moins 1 caractère spécial (%?*#!)</li>
               </ul>

               <br>

               <div class="info-bulle">
                   <label for="Mail"><strong>Mail du Reprographe</strong>
                       <input class="inputForm" type="email" name="Mail" id="Mail" required>
                   </label>
               </div>

               <br>

                <div class="info-bulle">
                   <label for="Département"><strong>Département</strong>
                       <select class="inputForm" name="Département" id="Département">
                            <% for (let requete of Département) { %>
                                <option value=<%=requete%>><%=requete%></option>
                            <% } %>
                        </select>
                   </label>
                </div>

                <br>

                <input class="button" type="submit" value="Valider" id="submit">
            </form>
       </div>
   </div>
</div>    

<div class="container" id="container">
    <div class="form_container">
        <h1>Département</h1>
        <div style="display:flex">
            <!-- Partie liste Départment-->
            <table style="margin-right: 50px;">
                <thead style="background-color: orange;">
                    <tr>
                        <th>Liste des Départements</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let requete of Département) { if(requete!="Reprographe"){ %>
                        <tr><td style="border: solid black 1px;background-color: lightgray;"><%=requete%></td></tr>
                    <% }} %>
                </tbody>
            </table>

            <!-- Partie liste Boutton-->
            <div style="display: grid;"> 
                <button style="background-color: lightsalmon;" onclick="document.getElementById('AddDep').style.display = 'block';document.getElementById('ModDep').style.display = 'none';document.getElementById('DelDep').style.display = 'none'">Ajouter</button>
                <button style="background-color: lightgrey;" onclick="document.getElementById('AddDep').style.display = 'none';document.getElementById('ModDep').style.display = 'block';document.getElementById('DelDep').style.display = 'none'">Modifier</button>
                <button style="background-color: lightcoral;" onclick="document.getElementById('AddDep').style.display = 'none';document.getElementById('ModDep').style.display = 'none';document.getElementById('DelDep').style.display = 'block'">Enlever</button>
            </div>
        </div>
        <br>
        <br>
        <form action="/Administrateur/AddDep" method="post" style="display: none;" id="AddDep">
            <div class="info-bulle">
                <label for="NewDep"><strong>Nom du Nouveau Départment</strong>
                    <input class="inputForm" type="text" name="NewDep" id="NewDep" required>
                </label>
            </div>
            <br>
            <input class="button" type="submit" value="Ajouter" id="submit">
        </form>

        <form action="/Administrateur/ModDep" method="post" style="display: none;" id="ModDep">
            <div class="info-bulle">
                <label for="AnModDep"><strong>Département à Modifier</strong></label>
                <select class="inputForm" name="AnModDep">
                    <% for (let requete of Département) { if(requete!="Reprographe"){ %>
                        <option value=<%=requete%>><%=requete%></option>
                    <% }} %>
                </select>
            </div>
            <div class="info-bulle">
                <label for="NewModDep"><strong>Nom du Nouveau Départment</strong>
                    <input class="inputForm" type="text" name="NewModDep" id="NewModDep" required>
                </label>
            </div>
            <br>
            <input class="button" type="submit" value="Modifier" id="submit">
        </form>

        <form action="/Administrateur/DelDep" method="post" style="display: none;" id="DelDep">
            <div class="info-bulle">
                <label for="AnDelDep"><strong>Département à Supprimer</strong></label>
                <select class="inputForm" name="AnDelDep">
                    <% for (let requete of Département) { if(requete!="Reprographe"){ %>
                        <option value=<%=requete%>><%=requete%></option>
                    <% }} %>
                </select>
            </div>
            <br>
            <input class="button" type="submit" value="Effacer" id="submit">
        </form>
    </div>
</div>

<script src="/valid_password.js"></script>
</main>
<%- include('fragments/foot.ejs')%>

