<%- include('fragments/head.ejs')%>
<link rel="stylesheet" href="/css/inscription_connexion.css">
<script src="afficherMDP.js"></script>

</head>
<body>
    <div class="page">
<%- include('fragments/navigation.ejs')%>

<main class="main_center">
<% if(typeof(ReussiRep)!='undefined') {%>
    <div style="text-align: center;">
        <h3 class="Reussi"><%=ReussiRep %></h3>
    </div>
    <br>
    <br>
<%}%>

<div class="container" id="container">
   <div class="form_container">
       <div class="form_connexion">
           <form action="/Administrateur/Reprographe" method="POST">
               <h1>Inscription Reprographe</h1>

               <% if(typeof(ErreurR)!='undefined') {%>
                    <h4 class="Erreur"><%=ErreurR %></h4>
                    <br>
                    <br>
                <%}%>

               <div class="info-bulle">
                   <label for="name"><strong>Nom du Reprographe</strong>
                       <input class="inputForm" type="text" name="name" id="name" required>
                   </label>
               </div>

               <ul id="Valid_name" style="display: none;">
                   <li id="length_name" class="invalid">doit contenir au moins 5 caractères</li>
                   <li id="majuscule_name" class="invalid">doit contenir au moins 1 majuscule</li>
                   <li id="minuscule_name" class="invalid">doit contenir au moins 1 minuscule</li>
                   <li id="chiffre_name" class="valid">Ne doit pas contenir de chiffre</li>
                   <li id="special_name" class="valid">Ne doit pas contenir de caractère spécial (%?*#!_-)</li>
               </ul>

               <br>

               <div class="info-bulle">
                   <label for="Prénom"><strong>Prénom du Reprographe</strong>
                       <input class="inputForm" type="text" name="Prénom" id="Prénom" required>
                   </label>
               </div>

               <ul id="Valid_Prénom" style="display: none;">
                   <li id="length_Prénom" class="invalid">doit contenir au moins 3 caractères</li>
                   <li id="majuscule_Prénom" class="invalid">doit contenir au moins 1 majuscule</li>
                   <li id="minuscule_Prénom" class="invalid">doit contenir au moins 1 minuscule</li>
                   <li id="chiffre_Prénom" class="valid">Ne doit pas contenir de chiffre</li>
                   <li id="special_Prénom" class="valid">Ne doit pas contenir de caractère spécial (%?*#!_-)</li>
               </ul>

               <br>

               <div class="champs-password">
                   <div class="info-bulle">
                       <label for='mdp'><strong>Mot de passe</strong>
                           <input id='mdp' type='password' name ='password' class='inputForm' required>
                        </label>
                   </div>

                   <div class="password-show" onclick="showPassword(this)" onkeydown="showPassword(this)" tabindex="0">
                       <img src="img/visible.png" alt="afficher le mot de passe">
                   </div>
                   <div class="password-hide" onclick="hidePassword(this)" onkeydown="hidePassword(this)" tabindex="0">
                       <img src="img/hidden.png" alt="cacher le mot de passe">
                   </div>
               </div>

               <ul id="Valid_mdp" style="display: none;">
                   <li id="length_mdp" class="invalid">doit contenir au moins 8 caractères</li>
                   <li id="majuscule_mdp" class="invalid">doit contenir au moins 1 majuscule</li>
                   <li id="minuscule_mdp" class="invalid">doit contenir au moins 1 minuscule</li>
                   <li id="chiffre_mdp" class="invalid">doit contenir au moins 1 chiffre</li>
                   <li id="special_mdp" class="invalid">doit contenir au moins 1 caractère spécial (%?*#!_-)</li>
               </ul>

               <br>

               <div class="info-bulle">
                   <label for="Mail"><strong>Mail du Reprographe</strong>
                       <input class="inputForm" type="email" name="Mail" id="Mail" required>
                   </label>
               </div>

               <br>

                <div class="info-bulle">
                   <label for="Département"><strong>Département</strong>
                       <select class="inputForm" name="Département" id="Département">
                            <% for (let requete of Département) { %>
                                <option value=<%=requete%>><%=requete%></option>
                            <% } %>
                        </select>
                   </label>
                </div>

                <br>

                <input class="button" type="submit" value="Valider" id="submit">
                <input type="hidden" value="<%= csrfToken%>" name="_csrf">
            </form>
       </div>
   </div>
</div>    

<% if(typeof(ReussiDep)!='undefined') {%>
    <div style="text-align: center;">
        <h3 class="Reussi"><%=ReussiDep %></h3>
    </div>
    <br>
    <br>
<%}%>

<% if(typeof(ErreurDep)!='undefined') {%>
    <div style="text-align: center;">
        <h3 class="Erreur"><%=ErreurDep %></h3>
    </div>
    <br>
    <br>
<%}%>

<div class="container" id="departement">
    <div class="form_container">
        <h1>Département</h1>
        <div style="display:flex;align-items: flex-start;">
            <!-- Partie liste Départment-->
            <table style="margin-right: 50px;">
                <thead style="background-color: orange;">
                    <tr>
                        <th style="padding: 10px;">Liste des Départements</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let requete of Département) { if(requete!="Reprographe"){ %>
                        <tr><td style="border: solid black 1px;background-color: lightgray;color: black;padding: 5px;"><%=requete%></td></tr>
                    <% }} %>
                </tbody>
            </table>

            <!-- Partie liste Boutton-->
            <div style="display: grid;gap: 20px;"> 

                <button style="background-color: lightsalmon;padding: 10px;" 
                    onclick="document.getElementById('AddDep').style.display = 'block';
                        document.getElementById('ModDep').style.display = 'none';
                            document.getElementById('DelDep').style.display = 'none'">
                    <strong>Ajouter</strong>
                </button>

                <button style="background-color: lightgrey;padding: 10px;" 
                    onclick="document.getElementById('AddDep').style.display = 'none';
                        document.getElementById('ModDep').style.display = 'block';
                        document.getElementById('DelDep').style.display = 'none'">
                    <strong>Modifier</strong>
                </button>

                <button style="background-color: lightcoral;padding: 10px;" 
                    onclick="document.getElementById('AddDep').style.display = 'none';
                        document.getElementById('ModDep').style.display = 'none';
                        document.getElementById('DelDep').style.display = 'block'">
                    <strong>Enlever</strong>
                </button>

            </div>
        </div>
        <br>
        <br>
        <form action="/Administrateur/AddDep" method="post" style="display: none;" id="AddDep">
            <div class="info-bulle">
                <label for="NewDep"><strong>Nom du Nouveau Départment</strong>
                    <input class="inputForm" type="text" name="NewDep" id="NewDep" required>
                </label>
            </div>
            <br>
            <input class="button" type="submit" value="Ajouter" id="submit">
            <input type="hidden" value="<%= csrfToken%>" name="_csrf">
        </form>

        <form action="/Administrateur/ModDep" method="post" style="display: none;" id="ModDep">
            <div class="info-bulle">
                <label for="AnModDep"><strong>Département à Modifier</strong></label>
                <select class="inputForm" name="AnModDep" id="AnModDep">
                    <% for (let requete of Département) { if(requete!="Reprographe"){ %>
                        <option value=<%=requete%>><%=requete%></option>
                    <% }} %>
                </select>
            </div>
            <div class="info-bulle">
                <label for="NewModDep"><strong>Nom du Nouveau Départment</strong>
                    <input class="inputForm" type="text" name="NewModDep" id="NewModDep" required>
                </label>
            </div>
            <br>
            <input class="button" type="submit" value="Modifier" id="submit">
            <input type="hidden" value="<%= csrfToken%>" name="_csrf">
        </form>

        <form action="/Administrateur/DelDep" method="post" style="display: none;" id="DelDep">
            <div class="info-bulle">
                <label for="AnDelDep"><strong>Département à Supprimer</strong></label>
                <select class="inputForm" name="AnDelDep" id="AnDelDep">
                    <% for (let requete of Département) { if(requete!="Reprographe"){ %>
                        <option value=<%=requete%>><%=requete%></option>
                    <% }} %>
                </select>
            </div>
            <br>
            <input class="button" type="submit" value="Effacer" id="submit">
            <input type="hidden" value="<%= csrfToken%>" name="_csrf">
        </form>
    </div>
</div>


<% if(typeof(ReussiType_file)!='undefined') {%>
    <div style="text-align: center;">
        <h3 class="Reussi"><%=ReussiType_file %></h3>
    </div>
    <br>
    <br>
<%}%>

<% if(typeof(ErreurType_file)!='undefined') {%>
    <div style="text-align: center;">
        <h3 class="Erreur"><%=ErreurType_file %></h3>
    </div>
    <br>
    <br>
<%}%>


<div class="container" id="type_file">
    <div class="form_container">
        <h1>Fichier Authauriser</h1>
        <div style="display:flex;align-items: flex-start;">
            <!-- Partie liste Départment-->
            <table style="margin-right: 50px;">
                <thead style="background-color: orange;">
                    <tr>
                        <th style="padding: 10px;">Liste des fichier autoriser</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let requete of Type_Document) {  %>
                        <tr><td style="border: solid black 1px;background-color: lightgray;color: black;padding: 5px;"><%=requete%></td></tr>
                    <% } %>
                </tbody>
            </table>

            <!-- Partie liste Boutton-->
            <div style="display: grid;gap: 20px;"> 

                <button style="background-color: lightsalmon;padding: 10px;" 
                    onclick="document.getElementById('AddType_file').style.display = 'block';
                        document.getElementById('ModType_file').style.display = 'none';
                            document.getElementById('DelType_file').style.display = 'none'">
                    <strong>Ajouter</strong>
                </button>

                <button style="background-color: lightgrey;padding: 10px;" 
                    onclick="document.getElementById('AddType_file').style.display = 'none';
                        document.getElementById('ModType_file').style.display = 'block';
                        document.getElementById('DelType_file').style.display = 'none'">
                    <strong>Modifier</strong>
                </button>

                <button style="background-color: lightcoral;padding: 10px;" 
                    onclick="document.getElementById('AddType_file').style.display = 'none';
                        document.getElementById('ModType_file').style.display = 'none';
                        document.getElementById('DelType_file').style.display = 'block'">
                    <strong>Enlever</strong>
                </button>

            </div>
        </div>
        <br>
        <br>
        <form action="/Administrateur/AddType_file" method="post" style="display: none;" id="AddType_file">
            <div class="info-bulle">
                <label for="NewType_file"><strong>Type de fichier à ajouter</strong>
                    <input class="inputForm" type="text" name="NewType_file" id="NewType_file" required>
                </label>
            </div>
            <br>
            <input class="button" type="submit" value="Ajouter" id="submit">
            <input type="hidden" value="<%= csrfToken%>" name="_csrf">
        </form>

        <form action="/Administrateur/ModType_file" method="post" style="display: none;" id="ModType_file">
            <div class="info-bulle">
                <label for="AnModType_file"><strong>Type de fichier à Modifier</strong></label>
                <select class="inputForm" name="AnModType_file" id="AnModType_file">
                    <% for (let requete of Type_Document) { %>
                        <option value=<%=requete%>><%=requete%></option>
                    <% } %>
                </select>
            </div>
            <div class="info-bulle">
                <label for="NewModType_file"><strong>Nom du nouveau type de fichier</strong>
                    <input class="inputForm" type="text" name="NewModType_file" id="NewModType_file" required>
                </label>
            </div>
            <br>
            <input class="button" type="submit" value="Modifier" id="submit">
            <input type="hidden" value="<%= csrfToken%>" name="_csrf">
        </form>

        <form action="/Administrateur/DelType_file" method="post" style="display: none;" id="DelType_file">
            <div class="info-bulle">
                <label for="AnDelType_file"><strong>Département à Supprimer</strong></label>
                <select class="inputForm" name="AnDelType_file" id="AnDelType_file">
                    <% for (let requete of Type_Document) { if(requete!="Reprographe"){ %>
                        <option value=<%=requete%>><%=requete%></option>
                    <% }} %>
                </select>
            </div>
            <br>
            <input class="button" type="submit" value="Effacer" id="submit">
            <input type="hidden" value="<%= csrfToken%>" name="_csrf">
        </form>
    </div>
</div>

<script src="/valid_password.js"></script>
</main>
<%- include('fragments/foot.ejs')%>

