<%- include('fragments/head.ejs')%>
<link rel="stylesheet" href="/css/inscription_connexion.css">

<style>
    input[type="radio"] {
    display: none;
    }
    input[type="radio"]:checked + .radio-label {
        border-color: var(--col-dark-gray);
        background-color: var(--col-pink);
    }
    .radio-label {
        display: inline-block;
        line-height: 30px;
        text-align: center;
        font-size: large;
        margin-bottom: 5px;
        margin-right: 10px;
        padding: 5px 20px;
        border: 2px solid #ddd;
        border-radius: 15px;
        cursor: pointer;
    }
</style>
</head>
<body>
    <div class="page">
<%- include('fragments/navigation.ejs')%>

<main>
<div class="container" id="container">
   <div class="form_container">
       <div class="form_connexion">
           <form action="/Formulaire" method="POST" enctype="multipart/form-data">
               <h1>Formulaire</h1>

                <% if(typeof(Erreur)!='undefined') {%>
                    <h4 class="Erreur"><%=Erreur %></h4>
                    <br>
                    <br>
                <%}%>

               <div class="info-bulle">
                   <label for="name_doc"><strong>Nom du document :</strong>
                       <input class="inputForm" type="text" name="name_doc" id="name_doc" required>
                   </label>
               </div>

                <br>
                
                <div class="info-bulle">
                   <label for="Type_fic"><strong>Type Fichier :</strong>
                       <select class="inputForm" name="Type_fic" id="Type_fic">
                            <% for (let requete of Type_Document) {%>
                                <option value=<%=requete%>><%=requete%></option>
                            <% } %>
                        </select>
                   </label>
                </div>

                <br>

                <div class="info-bulle">
                    <label for="sampleFile"><strong>Fichier :</strong> <br>
                        <input type="file" name="sampleFile" id="sampleFile">
                    </label>
                </div>

                <br>

                <div class="info-bulle">
                   <label for="date_retour"><strong>Date de retour :</strong>
                       <input class="inputForm" type="date" name="date_retour" id="date_retour" required>
                   </label>
               </div>

               <br>
                
                <div class="info-bulle">
                   <label for="nb_exemplaire"><strong>Nombre d'exemplaire :</strong>
                       <input class="inputForm" type="number" name="nb_exemplaire" id="nb_exemplaire" value="1" required>
                   </label>
               </div>

               <br>
                
               <div class="info-bulle">
                   <label for="nb_page"><strong>Nombre de pages :</strong>
                       <input class="inputForm" type="number" name="nb_page" id="nb_page" value="1" required>
                   </label>
               </div>

               <br>
                
               <div class="info-bulle">
                    <fieldset style="padding: 10px;"> <legend>Recto/Verso</legend>
                        <input type="radio" name="recto_verso" value="true" id="recto_verso1" checked />
                        <label for="recto_verso1" class="radio-label">Recto/Verso</label>

                        <input type="radio" name="recto_verso" value="false" id="recto_verso2" />
                        <label for="recto_verso2" class="radio-label">Recto</label>
                    </fieldset>
               </div>

               <br>
                
               <div class="info-bulle">
                    <fieldset style="padding: 10px;"> <legend>Agrafe</legend>
                        <input type="radio" name="Agrafe" value="true" id="Agrafe1" />
                        <label for="Agrafe1" class="radio-label">Oui</label>

                        <input type="radio" name="Agrafe" value="false" id="Agrafe2" checked  />
                        <label for="Agrafe2" class="radio-label">Non</label>
                    </fieldset>
               </div>
               
               <br>
                
                <input type="hidden" value="<%= csrfToken%>" name="_csrf">
                <input class="button" type="submit" value="Valider" id="submit">
            </form>
       </div>
   </div>
</div>

</main>
<%- include('fragments/foot.ejs')%>

