<%- include('fragments/head.ejs')%>
<link rel="stylesheet" href="/css/inscription_connexion.css">
<script src="afficherMDP.js"></script>

</head>
<body>
    <div class="page">
<%- include('fragments/navigation.ejs')%>

<main class="main_center">



<div class="container" id="container">
   <div class="form_container">
       <div class="form_connexion">
           <form action="/Inscription" method="POST">
               <h1>Inscription</h1>
                <% if(typeof(Erreur)!='undefined') {%>
                    <h4 class="Erreur"><%=Erreur %></h4>
                    <br>
                    <br>
                <%}%>


               <div class="info-bulle">
                   <label for="name"><strong>Nom</strong>
                       <input class="inputForm" type="text" name="name" id="name" required>
                   </label>
               </div>

               <br>

               <div class="info-bulle">
                   <label for="Prénom"><strong>Prénom</strong>
                       <input class="inputForm" type="text" name="Prénom" id="Prénom" required>
                   </label>
               </div>

               <br>

               <div class="info-bulle">
                   <label for="Mail"><strong>Mail de l'utilisateur</strong>
                       <input class="inputForm" type="email" name="Mail" id="Mail" required>
                   </label>
               </div>

               <br>

               <div class="champs-password">
                   <div class="info-bulle">
                       <label for='mdp'><strong>Mot de passe</strong>
                           <input id='mdp' type='password' name ='password' class='inputForm' required>
                        </label>
                   </div>

                   <div class="password-show" onclick="showPassword(this)" onkeydown="showPassword(this)" tabindex="0">
                       <img src="img/visible.png" alt="afficher le mot de passe">
                   </div>
                   <div class="password-hide" onclick="hidePassword(this)" onkeydown="hidePassword(this)" tabindex="0">
                       <img src="img/hidden.png" alt="cacher le mot de passe">
                   </div>
               </div>

               <br>

               <ul id="Valid_mdp" style="display: none;">
                   <li id="length_mdp" class="invalid">doit contenir au moins 8 caractères</li>
                   <li id="majuscule_mdp" class="invalid">doit contenir au moins 1 majuscule</li>
                   <li id="minuscule_mdp" class="invalid">doit contenir au moins 1 minuscule</li>
                   <li id="chiffre_mdp" class="invalid">doit contenir au moins 1 chiffre</li>
                   <li id="special_mdp" class="invalid">doit contenir au moins 1 caractère spécial (%?*#!_-)</li>
               </ul>

               <div class="champs-password">
                   <div class="info-bulle">
                       <label for='mdp_verif'><strong>Mot de passe Verification</strong>
                           <input id='mdp_verif' type='password' name ='password_verif' class='inputForm' required>
                        </label>
                   </div>

                   <div class="password-show" onclick="showPassword(this)" onkeydown="showPassword(this)" tabindex="0">
                       <img src="img/visible.png" alt="afficher le mot de passe">
                   </div>
                   <div class="password-hide" onclick="hidePassword(this)" onkeydown="hidePassword(this)" tabindex="0">
                       <img src="img/hidden.png" alt="cacher le mot de passe">
                   </div>
               </div>

               <ul id="Valid_mdp_verif" style="display: none;">
                   <li id="length_mdp_verif" class="invalid">doit contenir au moins 8 caractères</li>
                   <li id="majuscule_mdp_verif" class="invalid">doit contenir au moins 1 majuscule</li>
                   <li id="minuscule_mdp_verif" class="invalid">doit contenir au moins 1 minuscule</li>
                   <li id="chiffre_mdp_verif" class="invalid">doit contenir au moins 1 chiffre</li>
                   <li id="special_mdp_verif" class="invalid">doit contenir au moins 1 caractère spécial (%?*#!_-)</li>
               </ul>

               <br>


                <div class="info-bulle">
                   <label for="Département"><strong>Département</strong>
                       <select class="inputForm" name="Département" id="Département">
                            <% for (let requete of Département) { if(requete!="Reprographe"){%>
                                <option value=<%=requete%>><%=requete%></option>
                            <% }} %>
                        </select>
                   </label>
                </div>

                <br>

                <div style="display: flex;">
                    <input class="button" type="submit" value="S'inscrire" id="submit" style="height: 70px;">
                    <a class="button" style="margin-left:10px;height: 70px;display: flex;align-items: center;" href="/Auth" >Se connecter</a>
                </div>

                <input type="hidden" value="<%= csrfToken%>" name="_csrf">
            </form>
       </div>
   </div>
</div>

<script src="/valid_password.js"></script>

<script>
    if (document.getElementById('mdp')!=null){
        document.getElementById('mdp').addEventListener('input', () => {valid("mdp",8,[true,true,true,true,true])});
        document.getElementById('mdp').addEventListener("mouseover", function(event) {changeDisplay(event,"Valid_mdp")});
        document.getElementById('mdp').addEventListener("mouseout", function(event) {changeDisplay(event,"Valid_mdp")});
    }
    if (document.getElementById('mdp_verif')!=null){
        document.getElementById('mdp_verif').addEventListener('input', () => {valid("mdp_verif",8,[true,true,true,true,true])});
        document.getElementById('mdp_verif').addEventListener("mouseover", function(event) {changeDisplay(event,"Valid_mdp_verif")});
        document.getElementById('mdp_verif').addEventListener("mouseout", function(event) {changeDisplay(event,"Valid_mdp_verif")});
    }
</script>
</main>
<%- include('fragments/foot.ejs')%>

