<%- include('fragments/head.ejs')%>

</head>
<body>
    <div class="page">
<%- include('fragments/navigation.ejs')%>

<main>
    <h1>Demande Ouvert</h1>
    <br>

    <% if(typeof(Erreur)!='undefined') {%>
        <h3 class="Erreur"><%=Erreur %></h3>
        <br>
        <br>
    <%}%>

    <% if(typeof(ReussiT)!='undefined') {%>
        <h3 class="Reussi"><%=ReussiT %></h3>
        <br>
        <br>
    <%}%>

    <% console.log(listeRequeteOuvert);
    if (listeRequeteOuvert.length == 0) {%>
        <p>Il n'y a pas de demande</p>
    <% } else { %>
        <div style="display: flex;flex-wrap: wrap">
        <% for (let requete of listeRequeteOuvert) { %>
                <div style="margin-right: 50px;border-left: 5px solid #28a745;" class="Ticket">
                    <form action="/Reprographe/TicketTraitement" method="POST">
                    <button type="submit" class="Ticket_Ouvert">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2" style="padding-bottom: 15px;font-size: 20px;" >Information Ticket</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: left;font-size: 15px;">
                            <tr><td colspan="2"><%=requete.date_creation.toLocaleString() %></td></tr>
                            <tr><td colspan="2" style="padding-bottom: 15px;"><em><strong>Limite : </strong><%=requete.date_retour.toLocaleDateString() %></em></td></tr>
                            <tr><td colspan="2">👤 <%=requete.User_Name %></td></tr>
                            <tr>
                                <td colspan="2" style="padding-bottom: 15px;"><strong>Nom Document : </strong><em><%=requete.Nom_Doc %>.<%=requete.Type_Doc %></em></td>
                            </tr>
                            <tr><td colspan="2"><strong>Nombre Exemplaire : </strong><%=requete.Nb_exemplaire %></td></tr>
                            <tr><td colspan="2" style="padding-bottom: 15px;"><strong>Nombre Page : </strong><%=requete.Nb_page %></td></tr>
                            <tr><td><strong>Recto : </strong><%= requete.Recto ? "✔️" : "❌" %></td>
                            <td><strong>Agrafe : </strong><%= requete.Agrafe ? "✔️" : "❌" %></td></tr>
                        </tbody>
                    </table>
                    </button>
                    <input type="hidden" name="idTicket" value=<%= requete._id %> />
                    <input type="hidden" value="<%= csrfToken%>" name="_csrf">
                    </form>
                </div>
        <% } %>
        </div>
    <% } %>

    <br><br>
    <h1>Demande en Traitement</h1>
    <br>

    <% if(typeof(ReussiF)!='undefined') {%>
        <h3 class="Reussi"><%=ReussiF %></h3>
        <br>
        <br>
    <%}%>

    <% if(typeof(ReussiFT)!='undefined') {%>
        <h3 class="Reussi"><%=ReussiFT %></h3>
        <br>
        <br>
    <%}%>

    <% console.log(listeRequeteTraitement);
    if (listeRequeteTraitement.length == 0) {%>
        <p>Il n'y a pas de demande</p>
    <% } else { %>
        <div style="display: flex;flex-wrap: wrap">
        <% for (let requete of listeRequeteTraitement) { %>
                <div style="margin-right: 50px;border-left: 5px solid #ffc107;width: 265px;" class="Ticket">
                    <table style="background-color: buttonface;color: black;">
                        <thead>
                            <tr>
                                <th colspan="2" style="padding-bottom: 15px;font-size: 20px;" >Information Ticket</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td colspan="2"><%=requete.date_creation.toLocaleString() %></td></tr>
                            <tr><td colspan="2" style="padding-bottom: 15px;"><em><strong>Limite : </strong> <%=requete.date_retour.toLocaleDateString() %></em></td></tr>
                            <tr><td colspan="2"><strong>👤 </strong> <%=requete.User_Name %></td></tr>
                            <tr><td colspan="2" style="padding-bottom: 15px;"><strong>Nom Document : </strong><em><%=requete.Nom_Doc %>.<%=requete.Type_Doc %></em></td></tr>
                            <tr><td colspan="2"><strong>Nombre Exemplaire : </strong><%=requete.Nb_exemplaire %></td></tr>
                            <tr><td colspan="2" style="padding-bottom: 15px;"><strong>Nombre page : </strong><%=requete.Nb_page %></td></tr>
                            <tr>
                                <td style="padding-bottom: 15px;"><strong>Recto : </strong><%= requete.Recto ? "✔️" : "❌" %></td>
                                <td style="padding-bottom: 15px;"><strong>Agrafe : </strong><%= requete.Agrafe ? "✔️" : "❌" %></td>
                            </tr>    
                            <tr>
                                <form action="/Reprographe/File" method="POST">
                                    <td><button class="Ticket_Prépa"><strong>Télécharger</strong></button></td>
                                    <input type="hidden" name="idTicket" value=<%= requete._id %> />
                                    <input type="hidden" value="<%= csrfToken%>" name="_csrf">
                                </form>
                                    
                                <form action="/Reprographe/TicketFermer" method="POST">
                                    <td><button class="Ticket_Prépa"> <strong>Fermer Ticket</strong></button></td>
                                    <input type="hidden" name="idTicket" value=<%= requete._id %> />
                                    <input type="hidden" value="<%= csrfToken%>" name="_csrf">
                                </form>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <% } %>
        </div>
    <% } %>
</main>

<%- include('fragments/foot.ejs')%>

