<%- include('fragments/head.ejs')%>

</head>
<body>
    <div class="page">
<%- include('fragments/navigation.ejs')%>

<main style="display: grid;flex: 1;">
    <h1 id="title" >Tableau de Bord</h1>

    <% if(typeof(Reussi)!='undefined') {%>
        <div style="text-align: center;">
        <h3 class="Reussi"><%=Reussi %></h3>
        </div>
        <br>
        <br>
    <%}%>
    <% console.log(listeRequeteUser);
    if (listeRequeteUser.length == 0) {%>
        <p>Il n'y a pas de requete</p>
    <% } else { %>
    <table class="tableau_bord" border="1" >
        <thead>
            <tr>
                <th class="Espace_table">Date création</th>
                <th class="Espace_table">Date Retour</th>
                <th class="Espace_table">Nom Document</th>
                <th class="Espace_table">Nombre Exemplaire</th>
                <th class="Espace_table">Status</th>
                <th class="Espace_table">Recto-Verso</th>
                <th class="Espace_table">Agrafe</th>
            </tr>
        </thead>
        <tbody>
            <% for (let requete of listeRequeteUser) { %>
                <tr>
                    <td class="Espace_table"><strong><%= requete.date_creation.toLocaleString()%></strong></td>
                    <td class="Espace_table"><strong><%= requete.date_retour.toLocaleDateString()%></strong></td>
                    <td class="Espace_table" style="word-wrap: break-word;overflow-wrap: break-word;"><%= requete.Nom_Doc%>.<%=requete.Type_Doc%></td>
                    <td class="Espace_table"><%= requete.Nb_exemplaire%></td>
                    <% if(requete.Status == "Ouvert"){%>
                        <td class="Espace_table" style="background-color: lightcoral;color: black;"><strong>Ouvert</strong></td>  
                    <%} else if (requete.Status == "En cours de traitement") {%>
                        <td class="Espace_table" style="background-color: lightsalmon;color: black;"><strong>En cours de traitement</strong></td>  
                    <%} else {%>
                        <td class="Espace_table" style="background-color: lightgreen;color: black;"><strong>Disponible</strong></td>  
                    <%}%>
                    <td class="Espace_table"><em><%= requete.Recto ? "✔️" : "❌" %></em></td>
                    <td class="Espace_table"><em><%= requete.Agrafe ? "✔️" : "❌" %></em></td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <% } %>
</main>

<%- include('fragments/foot.ejs')%>

